USE [QuanLyCuaHangBanLe]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDTNCC] [varchar](13) NULL,
	[DiaChiNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MaPN] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NULL,
	[MaSP] [nvarchar](50) NULL,
	[NgayNhap] [datetime] NULL,
	[TongTienNhap] [int] NULL,
	[SLN] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [nvarchar](50) NOT NULL,
	[MaNhom] [nvarchar](50) NULL,
	[TenSP] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[SLTon] [int] NULL,
	[GiaBan] [int] NULL,
	[GiaNhap] [int] NULL,
	[MaNCC] [nvarchar](50) NULL,
	[Image] [image] NULL,
	[ImageURL] [nvarchar](100) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[PHIEUNHAP_SANPHAM]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PHIEUNHAP_SANPHAM] AS

SELECT        dbo.PHIEU_NHAP.MaPN AS "MÃ PHIẾU NHẬP", dbo.SAN_PHAM.TenSP AS "TÊN SẢN PHẨM", dbo.PHIEU_NHAP.NgayNhap AS "NGÀY NHẬP", dbo.PHIEU_NHAP.SLN AS "SỐ LƯỢNG NHẬP", dbo.PHIEU_NHAP.DONGIA AS "ĐƠN GIÁ NHẬP", dbo.NHA_CUNG_CAP.TenNCC AS "TÊN NHÀ CUNG CẤP", dbo.PHIEU_NHAP.TongTienNhap AS "TỔNG TIỀN NHẬP"
FROM            dbo.NHA_CUNG_CAP INNER JOIN
                         dbo.PHIEU_NHAP ON dbo.NHA_CUNG_CAP.MaNCC = dbo.PHIEU_NHAP.MaNCC INNER JOIN
                         dbo.SAN_PHAM ON dbo.NHA_CUNG_CAP.MaNCC = dbo.SAN_PHAM.MaNCC AND dbo.PHIEU_NHAP.MaSP = dbo.SAN_PHAM.MaSP
GO
/****** Object:  View [dbo].[PHIEUNHAP_SANPHAM_ALL]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PHIEUNHAP_SANPHAM_ALL] AS

SELECT        dbo.PHIEU_NHAP.MaPN AS "MÃ PHIẾU", dbo.SAN_PHAM.TenSP AS "SẢN PHẨM", dbo.PHIEU_NHAP.NgayNhap AS "NGÀY NHẬP", dbo.PHIEU_NHAP.SLN AS "SỐ LƯỢNG", dbo.PHIEU_NHAP.DONGIA AS "ĐƠN GIÁ", dbo.NHA_CUNG_CAP.TenNCC AS "NHÀ CUNG CẤP", dbo.PHIEU_NHAP.TongTienNhap AS "TIỀN NHẬP"
FROM            dbo.NHA_CUNG_CAP INNER JOIN
                         dbo.PHIEU_NHAP ON dbo.NHA_CUNG_CAP.MaNCC = dbo.PHIEU_NHAP.MaNCC INNER JOIN
                         dbo.SAN_PHAM ON dbo.NHA_CUNG_CAP.MaNCC = dbo.SAN_PHAM.MaNCC AND dbo.PHIEU_NHAP.MaSP = dbo.SAN_PHAM.MaSP
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_BAN]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_BAN](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
	[NgayBan] [datetime] NULL,
	[TongTienBan] [int] NULL,
	[DGB] [int] NULL,
	[MaSP] [nvarchar](50) NULL,
	[SLB] [int] NULL,
 CONSTRAINT [PK_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[SDTKH] [varchar](12) NULL,
	[GioiTinh] [nvarchar](10) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaCV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[DiaChiNV] [nvarchar](50) NULL,
	[SDTNV] [varchar](13) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[MatKhau] [char](10) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM_SAN_PHAM]    Script Date: 12/20/2020 9:01:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM_SAN_PHAM](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHOM_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK_DH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK_DH_SP]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_BAN_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK_HOA_DON_BAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_BAN_NHAN_VIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK_HOA_DON_BAN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_CHUC_VU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUC_VU] ([MaCV])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_CHUC_VU]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PN_SP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_NCC_SP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_NCC_SP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_NHOM_SAN_PHAM] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOM_SAN_PHAM] ([MaNhom])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_NHOM_SAN_PHAM]
GO
